h1 {
  text-align: center; /*Centrage de mon titre*/
}
p {
  text-align: center;/*Centrage du paragraphe et mise en gras*/
  font-weight: bold;
}
#grandeboite { /*Je creer une div avec un id unique pour créer ce que je j'apelle une " boite " ou tout mon contenue tiendras ainsi que l'image en arrière fond*/
  background-color: #FFF8DC;
  background-image: url(https://images4.alphacoders.com/201/201154.jpg);
  background-size: 800px 300px;
  background-repeat: no-repeat;
  position: absolute;
  margin-left: 210px;
  margin-top: 150px;
  width: 800px;
  height: 300px;
  border: 3px solid #808080;
}
#boite1 { /*C'est ici que je creer le second cadre ou y a mon nom ainsi que mon prenom que je segmente en deux partie*/
  position: relative;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  margin-left: 200px;
  margin-top: 45px;
  width: 400px;
  height: 200px;
  border: 3px solid #F5DEB3;
  box-shadow: 8px 8px 12px #87CEEB;
  font-family: Helvetica;
  box-shadow: 0 0 65px #CDBE9F inset, 0 0 20px #BEAE8C inset, 0 0 2px #816F47;
}
#boite2 { /*Enfin la deuxieme partie de ma 1ère boite ou je met mon adresse email et mon numéro de telephone*/
  background-color: rgba(0, 0, 0, 0.0);
  width: 400px;
  height: 80px;
  position: absolute;
  color: white;
  font-family: Helvetica;
  text-shadow: 8px 8px 20px #87CEEB;
}